:host .c-settings-page_content {
  padding: 16px;
}

:host .c-settings-page_content > .settings {
  margin-bottom: 16px;
}

:host .c-settings-page_content > .settings > .name {
  margin-top: 8px;
}

:host .c-settings-page_content > .settings > .color {
  margin-top: 8px;
}

:host .c-settings-page_content .c-snack-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4px 16px;
}

:host .c-settings-page_content .c-snack-bar > .actions {
  margin-top: 0;
}

:host .c-position-chooser > .label {
  font-weight: 700;
  font-size: 14px;
  margin-top: 8px;
  margin-bottom: 8px;
}

:host .c-position-chooser > .option {
  font-size: 14px;
  padding: 12px;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 4px;
  border: 1px solid var(--bg-base-text-10);
}

:host .c-position-chooser > .option:hover {
  border: 1px solid var(--bg-base-text-30);
}

:host .c-position-chooser > .option.is-selected {
  border: 1px solid var(--bg-base-text-60);
}
