.c-page > .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 16px 12px 20px;
  border-top: 1px solid rgba(var(--bg-base-text-rgb-csv), 0.16);
  border-bottom: 1px solid rgba(var(--bg-base-text-rgb-csv), 0.16);
}

.c-page > .header > .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 18px;
}

.c-page > .header > .left > .text {
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0.04em;
}

.c-page > .content {
  overflow-y: auto;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
