.content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  padding: 16px;
}

.content > .primary-text {
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0.005em;
}

.content > .secondary-text {
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.004em;
}
