:host .action-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--truffle-color-secondary);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 2px 16px;
}

:host .action-banner > .info {
  font-size: 14px;
  line-height: 21px;
  font-weight: 600;
  color: var(--truffle-color-text-secondary);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

:host .action-banner.action-banner-style-twitch {
  background: #772CE8;
}

:host .action-banner.action-banner-style-twitch > .info {
  color: white;
}

:host .action-banner > .signup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 8px;
}

:host .action-banner > .signup > button {
  font-size: 12px;
  line-height: 18px;
  font-weight: 500;
  max-width: 120px;
  padding: 8px 24px;
  border-radius: 4px;
}
