:host {
  .action-banner {
    display: flex;
    align-items: center;
    background-color: var(--truffle-color-secondary);
    box-sizing: border-box;
    padding: 2px 16px;

    >.info {
      font-size: 14px;
      line-height: 21px;
      font-weight: 600;
      color: var(--truffle-color-text-secondary);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &.action-banner-style-twitch {
      background: #772CE8;

      >.info {
        color: rgba(255, 255, 255, 1);
      }
    }

    >.signup {
      display: flex;
      justify-content: flex-end;
      flex: 1;
      margin-left: 8px;

      >button {
        font-size: 12px;
        line-height: 18px;
        font-weight: 500;
        max-width: 120px;
        padding: 8px 24px;
        border-radius: 4px;
      }
    }
  }
}