.c-browser-extension-settings {
  color: var(--bg-base-text);
}

.c-browser-extension-settings .settings-header {
  font-weight: 600;
  font-size: 16px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.16);
  padding: 12px 0;
}

.c-browser-extension-settings .section {
  padding: 12px 0;
}

.c-browser-extension-settings .section .header {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 16px;
}

.c-browser-extension-settings .section .label {
  margin-bottom: 4px;
}

.c-browser-extension-settings .section .switch-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 16px;
}

.c-browser-extension-settings .c-input .input, .c-browser-extension-settings .c-input .input:hover, .c-browser-extension-settings .c-input .input:focus {
  border: none;
  background: rgba(255, 255, 255, 0.08);
}

.c-browser-extension-settings .c-toggle > .track {
  background: rgba(255, 255, 255, 0.29);
  border: none;
}

.c-browser-extension-settings .c-toggle > .knob {
  background: var(--bg-base-text);
}

.c-browser-extension-settings .c-toggle > .knob > .icon {
  display: none;
}

.c-browser-extension-settings .c-toggle.is-selected > .track {
  background: var(--secondary-base);
}
