:host {
  .c-settings-page_content {
    padding: 16px;

    >.settings {
      margin-bottom: 16px;

      >.name {
        margin-top: 8px;
      }

      >.color {
        margin-top: 8px;
      }
    }

    .c-snack-bar {
      display: flex;
      align-items: center;
      padding: 4px 16px;

      >.actions {
        margin-top: 0;
      }
    }
  }

  .c-position-chooser {
    >.label {
      font-weight: 700;
      font-size: 14px;
      margin-top: 8px;
      margin-bottom: 8px;
    }

    >.option {
      font-size: 14px;
      padding: 12px;
      border-radius: 4px;
      cursor: pointer;
      margin-bottom: 4px;
      border: 1px solid var(--bg-base-text-10);


      &:hover {
        border: 1px solid var(--bg-base-text-30);
      }

      &.is-selected {
        border: 1px solid var(--bg-base-text-60);
      }
    }
  }
}