:host .c-collectible {
  --positive-feedback: rgba(96, 204, 140, 1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  opacity: 50%;
}

:host .c-collectible.is-owned {
  opacity: 100%;
}

:host .c-collectible > .info > .name {
  font-size: 10px;
  margin-top: 10px;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
}

:host .c-collectible > .info > .count {
  font-size: 10px;
  color: var(--tfl-color-primary-fill);
}

:host .c-collectible > .button {
  margin-top: 10px;
}

:host .c-collectible > .button > button {
  font-size: 12px;
  font-weight: 500;
  border: 1px solid rgba(var(--bg-base-text-rgb-csv), 0.16) !important;
}

:host .c-collectible > .button > button:hover {
  border: 1px solid var(--primary-base) !important;
}

:host .c-collectible > .button.is-active > button {
  color: var(--positive-feedback) !important;
}

:host .c-collectible > .button.is-active > button:hover {
  border: 1px solid var(--primary-base) !important;
}
