:host {
  .c-season-pass-tab {
    padding: 16px;

    >.title {
      font-weight: 600;
      font-size: 16px;
      margin-bottom: 2px;
    }

    >.description {
      margin-bottom: 4px;
    }

    >.description,
    >.learn-more {
      font-size: 14px;
      font-weight: 400;
    }

    >.learn-more {
      color: var(--secondary-base);
      margin-bottom: 20px;
      cursor: pointer;
      text-decoration: underline;
    }
  }
}