.c-button {
  background: var(--background);
  color: var(--text-color);
  outline: 1px solid var(--border-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 8px 16px;
  -webkit-transition: all linear 50ms;
  transition: all linear 50ms;
}

.c-button:hover {
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
}

.c-button:disabled {
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
  cursor: not-allowed;
}
